<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331993587410-jioshlq5a0psq6pjatfcqu5srohcvdd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331993587410-jioshlq5a0psq6pjatfcqu5srohcvdd1</string>
	<key>API_KEY</key>
	<string>AIzaSyB-Pc6Fibfzfi0z12je_g6YngVYiAwWJaI</string>
	<key>GCM_SENDER_ID</key>
	<string>331993587410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.explained-zodiacs</string>
	<key>PROJECT_ID</key>
	<string>surf-988c3</string>
	<key>STORAGE_BUCKET</key>
	<string>surf-988c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331993587410:ios:cf23d5598bf1b012ed970b</string>
	<key>DATABASE_URL</key>
	<string>https://surf-988c3.firebaseio.com</string>
</dict>
</plist>